header.homeHeader {
  height: 400px;
  width: 100%;

  background-color: #dfdddd;

  display: flex;
  justify-content: center;
}
header.homeHeader img.logo {
  height: 900px;

  position: relative;
  top: -250px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2.sectionTitle {
  width: 100%;

  text-align: center;
  font-size: 30px;
}
