div.filterBar {
  width: 90%;
  height: 100px;

  margin-left: 5%;
  margin-top: 10px;

  
  border-bottom: 1px solid grey;

  display: flex;

  align-items: center;
}

div.filterBar div.filterBarSmallTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100px;

  background-color: white;
}

div.filterBar div.filterBarSmallTitleContainer p.filterBarSmallTitle {
  font-size: 30;

  height: 20px;
  width: 100%;

  text-align: center;
}

div.filterBar div.filterButtons{
  height: 100%;
  
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

div.filterBar div.filterButtons button{
  height: 60%;
  width: 150px;

  margin-left: 30px;

  border: none;
  border-radius: 10px;

  box-shadow: 5px 5px 5px grey;

  font-size: 15px;
  font-weight: bold;

}
